/* Header.css */

/* Основные стили для header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
  background-color: #5e16a7;
  padding: 0 20px;
  color: #fff;
  position: relative; /* Добавляем позиционирование */
}

.header-logo {
  width: 220px;
  height: 100%;
  background-image: url("../../public/appLogo.png");
  background-size: contain; /* Масштабирует изображение так, чтобы оно полностью поместилось в элементе */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-position: center center; /* Центрирует изображение по горизонтали и вертикали */
}
header a {
  height: 100%;
}
.header-site-name {
  font-size: 48px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto; /* Устанавливаем отступ справа, чтобы кнопка оставалась на скраю */
}

.header-button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  color: #5e16a7;
  text-decoration: none;
}

.header-sidebar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
}
.header-auth-button {
  display: none; /* По умолчанию скрыта */
  width: 100px;
  height: 100%;
  background-image: url("../../public/userIcon.avif");
  background-size: contain; /* Масштабирует изображение так, чтобы оно полностью поместилось в элементе */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-position: center center; /* Центрирует изображение по горизонтали и вертикали */
}

/* Стили для нормальных устройств (ширина экрана больше 400px) */
@media (min-width: 701px) {
  .header-auth-button {
    display: block; /* Показываем кнопку для авторизации */
  }
}
/* Стили для мобильных устройств (ширина экрана меньше 400px) */
@media (max-width: 700px) {
  .header-site-name {
    display: none; /* Скрываем название сайта */
  }

  .header-buttons {
    display: none; /* Скрываем кнопки */
  }

 .header-sidebar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; /* Добавляем позиционирование */
    right: 20px; /* Устанавливаем кнопку в правый верхний угол */
    top: calc(50% - 10px); /* Выравниваем кнопку по вертикали */
  }

  .hide-buttons .header-buttons {
    display: flex; /* Показываем кнопки в сайдбаре */
    flex-direction: column;
    gap: 10px;
  }

  .sidebar {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: #5e16a7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание элементов по верхнему краю */
    align-items: center;
    color: #fff;
    font-size: 24px;
    z-index: 10;
  }

  .sidebar-link {
    margin-bottom: 10px;
    height: auto;
    cursor: pointer;
    text-decoration: none; /* Убираем стили ссылки */
    color: #fff; /* Цвет текста */
  }
  .header-sidebar-toggle {
    display: flex; /* Показываем контейнер для "гамбургера" */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;

    transition: transform 0.3s ease;
  }

  .burger-icon {
    width: 100%;
    height: 3px;
    background-color: #fff;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .open .burger-icon:nth-child(1) {
    transform: translateY(7px) rotate(45deg); /* Вращаем верхний "гамбургер" */
  }

  .open .burger-icon:nth-child(2) {
    opacity: 0; /* Скрываем средний "гамбургер" */
  }

  .open .burger-icon:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg); /* Вращаем нижний "гамбургер" */
  }
}

@media (min-width: 701px) {
  /* Дополнительные стили для авторизованных пользователей */
  .header-auth-dropdown {
    position: relative;
  }

  .header-auth {
    width: 50px;
    height: 50px;
    background-image: url("../../public/userIcon.avif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  .auth-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #40116e;
    border-radius: 5px;
    padding: 10px;
  }

  .header-auth-dropdown:hover .auth-dropdown-content {
    display: block;
  }

  .auth-dropdown-content a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }

  .auth-dropdown-content button {
    display: block;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
}
.auth-dropdown-content{
  display: none;
}