body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #30253b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header.css */

/* Основные стили для header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
  background-color: #5e16a7;
  padding: 0 20px;
  color: #fff;
}

.header-logo {
  width: 100px;
  height: 100%;
  background-image: url("../public/appLogo.png");
  background-size: contain; /* Масштабирует изображение так, чтобы оно полностью поместилось в элементе */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-position: center center; /* Центрирует изображение по горизонтали и вертикали */
}

.header-site-name {
  font-size: 48px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  color: #5e16a7;
  text-decoration: none;
}

.header-sidebar-toggle {
  display: none; /* По умолчанию скрыта */
  background: none;
  border: none;
  cursor: pointer;
}

.burger-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
}
.header-auth-button {
  display: none; /* По умолчанию скрыта */
  width: 100px;
  height: 100%;
  background-image: url("../public/userIcon.avif");
  background-size: contain; /* Масштабирует изображение так, чтобы оно полностью поместилось в элементе */
  background-repeat: no-repeat; /* Запрещает повторение изображения */
  background-position: center center; /* Центрирует изображение по горизонтали и вертикали */
}

/* Стили для нормальных устройств (ширина экрана больше 400px) */
@media (min-width: 701px) {
  .header-auth-button {
    display: block; /* Показываем кнопку для авторизации */
  }
}
/* Стили для мобильных устройств (ширина экрана меньше 400px) */
@media (max-width: 700px) {
  .header-site-name {
    display: none; /* Скрываем название сайта */
  }

  .header-buttons {
    display: none; /* Скрываем кнопки */
  }

  .header-sidebar-toggle {
    display: block; /* Показываем кнопку для открытия сайдбара */
  }

  .hide-buttons .header-buttons {
    display: flex; /* Показываем кнопки в сайдбаре */
    flex-direction: column;
    gap: 10px;
  }

  .sidebar {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 10vh);
    background-color: #5e16a7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание элементов по верхнему краю */
    align-items: center;
    color: #fff;
    font-size: 24px;
  }

  .sidebar-link {
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none; /* Убираем стили ссылки */
    color: #fff; /* Цвет текста */
  }
  .header-sidebar-toggle {
    display: flex; /* Показываем контейнер для "гамбургера" */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;

    transition: transform 0.3s ease;
  }

  .burger-icon {
    width: 100%;
    height: 3px;
    background-color: #fff;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .open .burger-icon:nth-child(1) {
    transform: translateY(7px) rotate(45deg); /* Вращаем верхний "гамбургер" */
  }

  .open .burger-icon:nth-child(2) {
    opacity: 0; /* Скрываем средний "гамбургер" */
  }

  .open .burger-icon:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg); /* Вращаем нижний "гамбургер" */
  }
}

/* Footer.css */

footer {
  position: fixed; /* Футер будет закреплен на экране */
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #5e16a7;
  padding: 20px;
  color: #fff;
}

.footer-links {
  display: flex;
}

.footer-block {
  margin-right: 20px;
}

.footer-block a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icons {
  display: flex;
}

.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MenuBlock.css */

.menu-block {
  display: flex;
  background-color: #5e16a7;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Задаем высоту блока в закрытом состоянии */
  transition: height 0.3s ease, opacity 0.3s ease;
  margin-top: 40px;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  min-height: 75px;
  max-height: 200px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-button {
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  color: #5e16a7;
  text-decoration: none;
}

.additional-tools {
  width: 90%;
  margin: 10px;
  padding: 10px;
  background-color: #4d1288;
  color: #fff;
  height: 0;
  opacity: 0;
}

/* Анимация раскрытия */
.expanded {
  height: 200px; /* Задаем высоту блока в раскрытом состоянии */
}

.expanded .additional-tools {
  height: auto;
  opacity: 1;
}
@media (max-width: 600px) {
  .menu-block {
    height: 140px;
  }
  .expanded {
    height: 220px;
  }
}

/* AuthPage.css */

/* Стили для контейнера */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 90px;
}

/* Стили для формы */
.form-container {
  background-color: #5e16a7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
  padding-right: 20px;
}

.form-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container button {
  background-color: #f9f9f9;
  color: #5e16a7;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: rgb(189, 186, 191);
}

/* Стили для кнопки переключения формы */
.toggle-button {
  background-color: transparent;
  border: none;
  color: #5e16a7;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 10px;
}

@keyframes flipAnimation {
  0% {
    opacity: 1;
    transform: perspective(600px) rotateY(0);
  }
  100% {
    opacity: 0;
    transform: perspective(600px) rotateY(180deg);
  }
}

/* Контейнер для переворачиваемой формы */
.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

/* Формы внутри контейнера */
.form-container {
  transition: opacity 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.flipped {
  animation: flipAnimation 0.5s ease-in-out; /* Применяем анимацию переключения формы */
}
